#about{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(1, 16, 35, 0.9), rgba(0, 13, 33, 0.95)), url(../imgs/WhatsApp\ Image\ 2022-08-27\ at\ 1.15.06\ PM\(1\).jpeg) top/cover no-repeat;
    align-content: center;
}
.part{
    /* position: relative; */
    display: flex;
    justify-content: center;
}

.part div{
    width: 45%;
    height: 85vh;
    /* border: 2px solid red; */
    margin: 45px 10px 0;
}

.part1{
    text-align: justify;
    color: white;
    order: 2;
    position: relative;
}

.part1 p{
    padding-top: 30px;
    line-height: 30px;
    font-size: 20px;
}

.part1 button{
    border: none;
    margin-top: 20px;
    border-radius: 20px;
    
}

.part1 button a{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: var(--transition)
}

.part1 button a:hover{
    color: blue;
}

.part2{
    background-image: url(../imgs/istockphoto-1149509178-612x612.jpg);
    background-position: center;
    border-radius: 30px 10px;
    background-size: cover;
    box-shadow: 0 0 6px black;
    order: 1;
    transform: scaleX(-1);
    transition: var(--transition);
}

.part2:hover{
    background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(204,204,204,0)),
    url(../imgs/WhatsApp\ Image\ 2022-09-22\ at\ 7.32.58\ AM.jpeg);
}