@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root{
    --frost-blue-color: #0050d5;
    --light-blue-color: #16c5ff;
    --dark-color: #202020;
    --light-gray: #dedede;
    --dark-gray: #a1a1a0;
    --light-color: #fff;
    --poppins-font: 'Poppins', sans-serif;
    --transition: all 0.3s ease-in-out;
    --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2)!important;
}
/* resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: var(--poppins-font);
    overflow: hidden;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

.bg-blue {
    background-color: var(--frost-blue-color);
}

.bg-white {
    background-color: var(--light-color);
}

.text-blue {
    color: var(--frost-blue-color);
}

.text-white {
    color: var(--light-color);
}

.grid {
    display: grid;
}

.lead {
    font-size: 25px;
    text-transform: capitalize;
}

h1, h2, h3 {
    text-transform: capitalize;
    margin-top: 0;
    line-height: 1.3;
}

.text {
    opacity: 0.9;
}

.text-md {
    font-size: 1.5rem;
}

.text-lg{
    font-size: 2rem;
    font-weight: 500;
}

.text-sm {
    font-size: 1.3rem;
}

.py {
    padding: 10.9rem 0;
}

.text-center {
    text-align: center;
}

/* header style */
.header {
    position: sticky;
    top: 0;
    left: 0;
    max-height: 15vh;
    width: 100vw;
    padding: 0 0.6rem;
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    text-align: center;
}

.header .brand-hold {
    width: 40vw;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}

.navbar-brand{
    width: 30px;
}

.header .brand-hold h1 {
    margin-left: 25px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
}

.header .navbar-brand img {
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 10px;
    width: 40px;
}

.navbar {
    display: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 13vh;
    z-index: 999;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 95vw;
    margin: 0 auto;
    justify-content: space-between;
}

.flex .navbar-show-btn {
    margin-top: 20px;
}

.flex img {
    width: 30px;
}

input {
    outline: 0;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
}

button[class ^= navbar]:hover {
    transform: scale(1.1);
}

.navbar-show-btn, .navbar-hide-btn {
    background-color: transparent;
    width: 30px;
    border: none;
    transition: var(--transition);
}

.navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 10rem 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
    transform: translateX(120%);
    transition: var(--transition);
    z-index: 1000;
}

/* navbar show class */
.navbar-show {
    transform: translateX(0);
}

/* button */
.btn, button {
    border: none;
    cursor: pointer;
}

.navbar-hide-btn {
    position: absolute;
    right: 2rem;
    top: 4.5rem;
}

.nav-item {
    margin: 1.4rem 0;
}

.nav-link {
    opacity: 0.8;
    font-weight: 600;
    transition: var(--transition);
    display: inline-block;
}

.nav-link:hover{
    opacity: 1;
    color: var(--frost-blue-color);
    transform: translateX(10px);
}

.search-icon {
    display: block;
    width: 27px;
    margin-right: 1rem;
}
.search-bar-box {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
}

.search-control::placeholder {
    color: var(--light-gray);
}

.search-control {
    height: 27px;
    width: 100%;
    border-radius: 1.9rem;
    border: 2px solid var(--light-gray);
    padding: 0 1.5rem;
}

/* media queries */
@media(max-width:449px){
    .header {
        min-height: 100vh;
        width: 100vw;
        padding: 0 0.6rem;
        display: grid;
        grid-template-columns: 1fr 0.1fr;
        text-align: center;
    }
    .navbar-collapse {
        width: 320px;
    }
}

@media(min-width:450px){
    .header {
        min-height: 10vh;
        width: 100vw;
        padding: 0 0.6rem;
        display: grid;
        grid-template-columns: 1fr 0.1fr;
        text-align: center;
    }
    .navbar-collapse {
        width: 320px;
    }    
    /* Slideshow */
    #slide {
        background-size: cover;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .fadein {
        width: 100%;
    }

    .hold {
        width: 100%;
        height: 80%;
    }

    .slide1 {
        background: url(../imgs/1.jpg) no-repeat center center fixed;
        background-position: 50% 50px;
        background-blend-mode: color;
    }

    .slide2 {
        background: url(../imgs/2.jpg) no-repeat center center fixed;
        background-blend-mode: lighten;
    }

    .slide3 {
        background: url(../imgs/3.jpg) no-repeat center center fixed;
        background-position: 50% 50px;
        background-blend-mode: lighten;
    }

    .slide4 {
        background: url(../imgs/4.jpg) no-repeat center center fixed;
    }

    .slide5 {
        background: url(../imgs/5.jpg) no-repeat center center fixed;
        background-position: y;
        background-blend-mode: lighten;
    }

    .slide6 {
        background: url(../imgs/6.jpg) no-repeat center center fixed;
    }

    .slide7 {
        background: url(../imgs/7.jpg) no-repeat center center fixed;
        background-position: 50% 20px;
        background-blend-mode: lighten;
    }

    .slide8 {
        background: url(../imgs/8.jpg) no-repeat center center fixed;
    }

    .slide9 {
        background: url(../imgs/9.jpg) no-repeat center center fixed;
        background-position: 50% 20px;
        background-blend-mode: lighten;
    }

    .slide10 {
        background: url(../imgs/10.jpg) no-repeat center center fixed;
    }

    .slide11 {
        background: url(../imgs/11.jpg) no-repeat center center fixed;
    }

    .slide12 {
        background: url(../imgs/12.jpg) no-repeat center center fixed;
    }
    
    .slide13 {
        background: url(../imgs/13.jpg) no-repeat center center fixed;
    }

    .slide14 {
        background: url(../imgs/14.jpg) no-repeat center center fixed;
    }

    .slide15 {
        background: url(../imgs/15.jpg) no-repeat center center fixed;
    }

    .slide16 {
        background: url(../imgs/16.jpg) no-repeat center center fixed;
    }

    .slide17 {
        background: url(../imgs/17.jpg) no-repeat center center fixed;
    }

    .slide18 {
        background: url(../imgs/banner-one-one.jpg) no-repeat center center fixed;
    }

    .slide19 {
        background: url(../imgs/19.jpeg) no-repeat center center fixed;
    }

    .slide20 {
        background: url(../imgs/20.jpg) no-repeat center center fixed;
    }

    .slide21 {
        background: url(../imgs/21.jpg) no-repeat center center fixed;
        background-position: 0 60px;
        background-blend-mode: lighten;
    }

    .slide22 {
        background: url(../imgs/22.jpg) no-repeat center center fixed;
        background-position: 0 60px;
        background-blend-mode: lighten;
    }

    .slide23 {
        background: url(../imgs/23.jpg) no-repeat center center fixed;
    }

    .slide24 {
        background: url(../imgs/24.jpg) no-repeat center center fixed;
    }

    .slide25 {
        background: url(../imgs/25.jpg) no-repeat center center fixed;
    }

    /* .slide-content {
        background: var(--light-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        z-index: 2000;
        height: 2rem;
        width: 100px;
    }
    
    .slide-content span {
        font-size: 6rem;
        color: #000;
    } */
    
    /* Slideshow End */
}

@media(min-width:1200px){
    .header {
        max-height: 100vh;
        width: 100vw;
        padding: 0 0.6rem;
        display: grid;
        grid-template-columns: 1fr 0.1fr;
        text-align: center;
    }

    .navbar-show-btn, .navbar-hide-btn {
        display: none;
    }

    .navbar {
        width: 80%;
    }

    .navbar-collapse {
        transform: translateX(0);
        position: relative;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: 15px;
        background-color: transparent;
        box-shadow: none;
        transition: none;
    }

    .navbar-nav {
        display: flex;
    }

    .nav-item {
        margin: 0;
        margin-left: 3.5rem;
    }

    .nav-link {
        color: var(--light-color);
        opacity: 1;
        font-weight: 500;
        position: relative;
    }

    .nav-link:hover {
        transform: none;
        color: var(--light-color);
    }

    .nav-link::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 2px;
        width: 0;
        background-color: var(--light-color);
        opacity: 0;
        transition: var(--transition);
    }

    .nav-link:hover::after {
        opacity: 1;
        width: 100%;
    }

    .search-bar {
        margin-left: 5.5rem;
    }

    .search-inner-right {
        width: 100%;
    }

    .search-inner-right img {
        padding: 0;
        max-width: 647px;
    }

    .search-control {
        width: 150px;
    }
}
@media(min-width: 1480px){
    /* general */
    .container {
        max-width: 81vw;
    }
}

/* transition and animation stop */
.resize-animation-stopper *{
    animation: none!important;
    transition: none!important;
}