{% extends "layout.html" %}
{% block content %}
    <!-- service -->
        <main>
            <!-- banner one -->
            <section id="banner-one" class="banner-one text-center">
                <div class="container text-white">
                    <blockquote class="lead"><i class="fas fa-quote-left"></i>The greatest disease in the World today is not TB or leprosy; it is being unwanted, unloved, and uncared for. We can cure physical diseases with medicine, but the only cure for loneliness, despair, and hopelessness is love. <i class="fas fa-quote-right"></i></blockquote>
                    <small class="text text-sm">― Mother Teresa, A Simple Path: Mother Teresa </small>
                </div>
            </section>
            <!-- end of banner one -->
    
            <section id="services" class="services py">
                <div class="container">
                    <div class="section-head text-center">
                        <h2 class="lead">The Best Doctor gives the least medicines through care and compassion</h2>
                        <p class="text text-lg">A perfect way to show your hospital service in love and care</p>
                        <div class="link-art flex">
                            <div></div>
                            <img src="../static/imgs/four-dots.png">
                            <div></div>
                        </div>
                    </div>
                    <div class="services-inner text-center grid">
                        <article class="service-item">
                            <div class="icon">
                                <img src="../static/imgs/cardio.jpg" alt="">
                            </div>
                            <h3>Cardio Monitoring</h3>
                            <p class="text text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio, assumenda veniam ad eos veritatis necessitatibus laudantium asperiores hic soluta similique nemo voluptas sapiente itaque!</p>
                        </article>

                        <article class="service-item">
                            <div class="icon">
                                <img src="../static/imgs/health-one-one.jpg" alt="">
                            </div>
                            <h3>Medical Treatment</h3>
                            <p class="text text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio, assumenda veniam ad eos veritatis necessitatibus laudantium asperiores hic soluta similique nemo voluptas sapiente itaque!</p>
                        </article>

                        <article class="service-item">
                            <div class="icon">
                                <img src="../static/imgs/4.jpeg">
                            </div>
                            <h3>Emergency Help</h3>
                            <p class="text text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio, assumenda veniam ad eos veritatis necessitatibus laudantium asperiores hic soluta similique nemo voluptas sapiente itaque!</p>
                        </article>
                        
                        <article class="service-item">
                            <div class="icon">
                                <img src="../static/imgs/first-aid.jpg" alt="">
                            </div>
                            <h3>First Aid</h3>
                            <p class="text text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio, assumenda veniam ad eos veritatis necessitatibus laudantium asperiores hic soluta similique nemo voluptas sapiente itaque!</p>
                        </article>

                        <article class="service-item">
                          <div class="icon">
                              <img src="../static/imgs/first-aid.jpg" alt="">
                          </div>
                          <h3>Tips On Healthy Living</h3>
                          <p class="text text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio, assumenda veniam ad eos veritatis necessitatibus laudantium asperiores hic soluta similique nemo voluptas sapiente itaque!</p>
                      </article>

                      <article class="service-item">
                        <div class="icon">
                            <img src="../static/imgs/15.jpeg" style ="border-radius: 50%;" alt="">
                        </div>
                        <h3>Call A Quick Response Team</h3>
                        <p class="text text-sm">Life is Precious and it matters, don't hesitate to give a call on our hotline, we'll be glad if you do....</p>
                    </article>

                    <article class="service-item">
                      <div class="icon">
                          <img src="../static/imgs/first-aid.jpg" alt="">
                      </div>
                      <h3>Home For The Aged Ones</h3>
                      <p class="text text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio, assumenda veniam ad eos veritatis necessitatibus laudantium asperiores hic soluta similique nemo voluptas sapiente itaque!</p>
                  </article>
                    </div>
                </div>
            </section>
            <!-- end of section -->

            <!-- service package -->
            <section id="package-service" class="package-service py text-center">
              <div class="container">
                <div class="package-service-head text-white">
                  <h2>Packages We Offer</h2>
                  <p class="text text-lg">Best Packages for you</p>
                </div>
                <div class="package-service-inner grid">
                  <div class="package-service-item bg-white">
                    <div class="icon flex">
                      <i class="fas fa-phone fa-2x"></i>
                    </div>
                    <h3>Regular Case</h3>
                    <p class="text text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fuga esse unde impedit dolorum. Itaque quia quasi autem unde possimus.
                    </p>
                    <a href="" class="btn btn-blue">Read More</a>
                  </div>
                  <div class="package-service-item bg-white">
                    <div class="icon flex">
                      <i class="fas fa-calendar-alt fa-2x"></i>
                    </div>
                    <h3>Serious Case</h3>
                    <p class="text text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fuga esse unde impedit dolorum. Itaque quia quasi autem unde possimus.
                    </p>
                    <a href="" class="btn btn-blue">Read More</a>
                  </div>
                  <div class="package-service-item bg-white">
                    <div class="icon flex">
                      <i class="fas fa-comments fa-2x"></i>
                    </div>
                    <h3>Emergency Case</h3>
                    <p class="text text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fuga esse unde impedit dolorum. Itaque quia quasi autem unde possimus.
                    </p>
                    <a href="" class="btn btn-blue">Read More</a>
                  </div>
                </div>
              </div>
            </section>
        </main>
    <!-- End service -->

    <!-- footer -->
<!-- <footer>
    <div class="cols-holder">
      <div class="first-col">
        <div class="first-row">
            <div class="brand-hold">
                <a href="{{ url_for('home') }}" class="navbar-brand">
                    <img src="../static/imgs/brand-logo.jpeg" alt="">
                </a>
                <h1>Medi<span style="color: #fff;">Care</span> </h1>
            </div>
        </div>
        <div  class="second-row">
          <div class="second-row-img"></div>
          <p>
            Lorem ipsum dolor sit amet, consectetur    adipiscing elit, sed do eiusmod tempor <br>
            incididunt ut labore et dolore magna aliqua
          </p>
        </div>
        <div class="third-row">
          <div class="third-row-img"></div>
          <p>+1-543-123-4567</p>
        </div>
        <div class="fourth-row">
          <div class="fourth-row-img"></div>
          <p>example@huddle.com</p>
        </div>
      </div>  
      <div class="second-col">
        <div class="flex-it">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">What We Do</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="flex-it">
          <ul>
            <li><a href="#">Career</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="third-col">
          <a href="https://facebook.com" class="iconic"><i class="fab fa-facebook"></i></a>
          <a href="https://instagram.com" class="iconic"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com" class="iconic"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
      <p class="attribution">
        <a href="mailto:offiongjoel@gmail.com">JoeyBadass.&copy; Copyright 2022 SDG project. All rights reserved.</a>
      </p>
    </div>
  </footer> -->
<!-- end of footer -->

<footer id="footer" class="footer text-center">
  <div class="container">
    <div class="footer-inner text-white py grid">
      <div class="footer-item">
        <h3 class="footer-head">about us</h3>
        <div class="icon">
          <img src="../static/imgs/brand-logo.jpeg" alt="">
          <h3>Medi<span>Care</span> </h3>
        </div>
        <p class="text text-md">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <address>
          MediCare <br>
          20 Code Plateau Campus, off Zaramanganda rd <br>
          Jos, Plateau State <br>
          Nigeria
        </address>
      </div>
      
      <div class="footer-item">
        <h3 class="footer-head">tags</h3>
        <ul class="tags-list flex">
          <li>medical care</li>
          <li>emergency</li>
          <li>therapy</li>
          <li>surgery</li>
          <li>medication</li>
          <li>nurse</li>
        </ul>
      </div>

      <div class="footer-item">
        <h3 class="footer-head">Quick links</h3>
        <ul>
          <li><a href="#" class="text-white">Our Services</a></li>
          <li><a href="#" class="text-white">Our Plan</a></li>
          <li><a href="#" class="text-white">Privacy Policy</a></li>
          <li><a href="#" class="text-white">Appointment Schedule</a></li>
        </ul>
      </div>

      <div class="footer-item">
        <h3 class="footer-head">make an appointment</h3>
        <p class="text text-md">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <ul class="appointment-info">
          <li>8:00 AM - 11:00 AM</li>
          <li>2:00 PM - 05:00 PM</li>
          <li>6:00 PM - 11:00 PM</li>
          <li>
            <i class="fas fa-envelope"></i>
            <span>medicare@gmail.com</span>
          </li>
          <li>
            <i class="fas fa-phone"></i>
            <span>+234 (814) 042 3552</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-links">
      <ul class="flex">
        <li><a href="https://www.facebook.com" class="text-white flex"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.twitter.com" class="text-white flex"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://facebook.com" class="text-white flex"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com" class="text-white flex"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
{% endblock %}